Uploaders: Jan Wagner <waja@cyconet.org>
Recommends: lvm2, python3-minimal
Version: 0.3
Homepage: https://github.com/alvfig/check_vgfree
Watch: https://github.com/alvfig/check_vgfree/tags .*/v?(\d\S+)\.tar\.gz
Description: Plugin script free space on LVM volume group
