Uploaders: Jan Wagner <waja@cyconet.org>
Recommends: lvm2, python3-minimal
Version: d5bdbba
Homepage: https://github.com/alvfig/check_vgfree
Watch: https://github.com/alvfig/check_vgfree <a class="commit-tease-sha"[^>]*>\s+([0-9a-f]+)\s+</a>
Description: Plugin script free space on LVM volume group
