Source: monitoring-plugins-cyconet
Section: net
Priority: extra
Maintainer: Jan Wagner <waja@cyconet.org>
Uploaders: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 8.0.0), python, python-debian, quilt (>= 0.46-7), autotools-dev, autotools-dev
Standards-Version: 3.9.6
Vcs-Git: git://github.com/waja/monitoring-plugins-cyconet
Vcs-Browser: http://github.com/waja/monitoring-plugins-cyconet

Package: monitoring-plugins-cyconet
Architecture: any
Depends: ${misc:Depends}
Recommends: ${shlibs:Depends}, ${python:Depends}, libnet-snmp-perl, monitoring-plugins-common | nagios-plugins-common, libtime-modules-perl, fping, strongswan-starter | openswan, libwww-perl, python-argparse, libredis-perl, ruby-redis, libio-socket-inet6-perl, perl-modules, libnet-tftp-perl, libxml-xpath-perl, ${perl:Depends}
Suggests: 
Enhances: nagios-plugins, nagios-plugins-basic, nagios-plugins-standard
Description: Plugins for nagios compatible monitoring systems
 This package provides various plugins for Nagios compatible monitoring
 systems like Nagios and Icinga.
 It contains the following plugins:
 .
   * check_bgp (0.4): plugin to check BGP peer status via SNMP.
   * check_file: plugin to check file count,  size and ages
   * check_ipsec (2.0): plugin checking ipsec connections from open- or stongswan
   * check_nginx_status (0.10): plugin checking the nginx_status page report from nginx
     Tracking Active connections processes, request per second, connections per
     seconds, Connections status.
   * check_nwc_health (3.0.3.7): This plugin checks the hardware health and interface metrics
     of network components like switches and routers.
   * check_openvpn (20130904): plugin to check if an OpenVPN server runs on a given port
   * check_phpfpm_status (0.9): plugin to check the fpm-status page report from php-fpm
   * check_redis (0.72): plugin that verifies redis server is working.
   * check_sentinel (0b8e0e388a): plugin to monitor Redis sentinel
   * check_sieve (1.02): plugin checking for a running Sieve daemon
     Check SIEVE connections as per rfc 5804 for Nagios
   * check_smart: plugin to check SMART status of ATA/SCSI disks
   * check_tftp (0.11): plugin that verifies TFTP server is working.
   * check_tomcat (1.4): plugin to check the tomcat status page.
 .
 Some scripts and binaries need more packages installed to work, which is
 implemented as recommends.
