Homepage: https://github.com/matteocorti/check_ssl_cert/blob/master/check_ssl_cert
Watch: https://raw.githubusercontent.com/matteocorti/check_ssl_cert/master/check_ssl_cert VERSION=([0-9.]+)
Recommends: ca-certificates, expect, libtimedate-perl, openssl
Version: 1.37.0
Uploaders: Jan Wagner <waja@cyconet.org>
Description: plugin checking an X.509 certificate
 - checks if the server is running and delivers a valid certificate
 - checks if the CA matches a given pattern
 - checks the validity
