Homepage: https://raw.github.com/liquidat/nagios-icinga-checks/master/check_openvpn
Watch: https://raw.github.com/liquidat/nagios-icinga-checks/master/check_openvpn Version\ ([0-9.]+)
Recommends: python-argparse
Version: 20130904
Uploaders: Jan Wagner <waja@cyconet.org>
Description: plugin to check if an OpenVPN server runs on a given port
